<div class="container" class="text-center">
<div class="row">
  <div class="col-xs-12 col-sm-10 col-sm-offset-1">
    <h1 class="text-center">Confidential list of clients</h1>


        <%= @clients.each do |client| %>

          <div class="product">
  <div class='product-upvote'>
    <div class="product-arrow"></div>
    <div class='product-count'>0</div>
  </div>
  <img src="http://unsplash.it/300/200?random" alt="kudoz" class="product-image hidden-xs">
  <div class='product-body'>
    <h3><%=client.name %> </h3>
    <p>client.tagline</p>
  </div>
  <ul class="list-inline product-controls">

    <li>
    <%= link_to client_path(client) do  %>
    <i class="fa fa-eye"></i>
    <% end %>

      <li>
    <%= link_to edit_client_path(client) do  %>
    <i class="fa fa-pencil"></i>
    <% end %>

  <li>
    <%= link_to client_path(client), method: :delete do  %>
    <i class="fa fa-trash"></i>
    <% end %>

  </ul>
</div>


    <% end %>



  </div>
</div>
