<div class="container" class="text-center" align="center">

<h1>Le détail du client</h1>
<h2>
  <%= @client.name %>
  <%= @client.url %>
</h2>

<p class="text-center">
  <%= link_to "Edit", edit_client_path(@client), class:"btn btn-warning" %>

<%
=begin pour le lien Edit, on regarder dans rails routes quel suffixe correspond à edit,
en l'occurence edit_client
=end %>

  <%= link_to "Delete", client_path(@client), method: :delete, class:"btn btn-danger" %>
  <%= link_to "Revenir à la liste", clients_path, class: "btn btn-primary"
  %>
</p>

</div>

